/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.App {
  text-align: center;
  background: var(--yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 101vh;
}

.high-score {
  background: var(--red);
  border-radius: 0 0 3rem 0;
  -webkit-box-shadow: 0 3px 3px var(--green);
  box-shadow: 0 3px 3px var(--green);
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  padding: 0 2rem;
  font-size: 1.25rem;
}

.game-over {
  color: var(--yellow);
  margin: auto;
  width: 75%;
}

.new-game,
.game-over button {
  background: var(--orange);
  font-family: inherit;
  text-transform: lowercase;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: transparent;
  margin: 1rem;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.new-game:hover,
.game-over button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px var(--green);
  box-shadow: 0 2px 2px var(--green);
}

/* -------------------------------------------------
gameboard
------------------------------------------------- */
.gameboard {
  -webkit-animation: fade 1s;
  animation: fade 1s;
  background: var(--red);
  width: 65%;
  border-radius: 3rem;
  padding-bottom: 0rem;
  -webkit-box-shadow: 0 3px 3px var(--green);
  box-shadow: 0 3px 3px var(--green);
}

.gameboard h2 {
  color: var(--yellow);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.gameboard span {
  font-family: var(--secondary);
  font-size: 2.5rem;
}

.board {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 0 2rem 3rem 2rem;
  gap: 1rem;
}

.card {
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem 0;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  -o-transition: transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.3);
}

.card p {
  margin: 0;
  color: var(--yellow);
}

/* -------------------------------------------------
instructions
------------------------------------------------- */
.instructions {
  -webkit-animation: fade 1s;
  animation: fade 1s;
  background: var(--orange);
  width: calc(40% - 2rem);
  border-radius: 3rem;
  -webkit-box-shadow: 0 3px 3px var(--green);
  box-shadow: 0 3px 3px var(--green);
  padding: 0.5rem 2rem;
  border: 2px solid var(--red);
}

.instructions h2 {
  text-transform: uppercase;
}

.instructions button {
  text-transform: lowercase;
  background: var(--red);
  font-family: inherit;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: transparent;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  margin: 1rem;
}

.instructions button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px var(--green);
  box-shadow: 0 2px 2px var(--green);
}

.instructions p {
  font-size: 1rem;
}

footer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 1rem;
}

.victory {
  color: var(--yellow);
  margin: 4rem 0;
  font-size: 2rem;
  font-family: var(--secondary);
  -webkit-animation: excite 2s infinite alternate;
  animation: excite 2s infinite alternate;
}

.hide {
  -webkit-animation: shrink 0.3s ease forwards;
  animation: shrink 0.3s ease forwards;
}

/* ------------------------------------------- */
/* animations */
/* ------------------------------------------- */

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  15% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}

@keyframes shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  15% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}

@-webkit-keyframes excite {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: var(--white);
  }
  50% {
    color: var(--orange);
  }
  100% {
    -webkit-transform: scale(0.75);
    color: var(--yellow);
    transform: scale(0.75);
  }
}

@keyframes excite {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: var(--white);
  }
  50% {
    color: var(--orange);
  }
  100% {
    -webkit-transform: scale(0.75);
    color: var(--yellow);
    transform: scale(0.75);
  }
}
